.eventCardContainer {
  display: flex;
  flex-direction: row;
  width: 900%;
  text-align: left;
  margin: 15px;
  justify-content: space-between;
  padding: 3%;
  border: 2px solid lightgray;
}

.eventCardLeft{
  display: flex;
  flex-direction: row;
  
}

.eventCardInfo{
  margin: 10px;
}


.dashboardHeader {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}

.eventCardImg {
  width: 150px;
  height: 200px;
  background-color: grey;
}

p {
  margin-top: 0;
}

.dashboardEventContainer {
  display: flex;
  justify-content: left;
  
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.createPartyContainer {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
}

label {
  display: flex;
  justify-content: space-between;
}