.eventCardContainer {
  display: flex;
  flex-direction: column;
  max-width: 20%;
  text-align: left;
  margin: 15px;
}

.dashboardHeader {      /* this shit took two seconds i wont care if we scrap it ~aiden*/
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}

.eventCardImg {
  width: 200px;
  height: 350px;
  background-color: grey;
}

p {
  margin-top: 0;
}

.dashboardEventContainer {
  display: flex;
  justify-content: left;
  
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.createPartyContainer {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
}

label {
  display: flex;
  justify-content: space-between;
}